<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.festivaltime.festivaltimeproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FestivalTimeProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".InquiryPopupActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SearchScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".inquirydatabasepackage.InquiryActivity"
            android:exported="false" />
        <activity
            android:name=".AppSettingActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".BadgeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9e01496ae154026b9bbbb5a0277a7e57" />

        <activity
            android:name=".EntireViewActivity"
            android:exported="false" />
        <activity
            android:name=".map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calendaract.CalendarActivity"
            android:exported="false" />
        <activity android:name=".festivalcalendaract.FestivalCalendarActivity" />
    </application>

</manifest>